{% extends "base_temp.htm" %}

{% block title %}{{ ti }}({{ noc }}){% endblock %}
{% block jv %}
<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
<script type="text/javascript">
  // google.load("maps", "3.x",{"other_params":"sensor=false"});
   
  // Call this function when the page has been loaded
  function initialize() {
    var myLating = new google.maps.LatLng(22.8016472, 120.2858846);
    var myOptions = {
      zoom: 13,
      center: myLating,
      mapTypeId: google.maps.MapTypeId.ROADMAP
    }
    var map = new google.maps.Map(document.getElementById("map_div"),myOptions);
    var geoXml = new google.maps.KmlLayer("http://isufinstudio.appspot.com/map.kml?q={{ qw }}");
    geoXml.setMap(map);
    // map.setUIToDefault();
    // map.enableContinuousZoom();
    // map.addOverlay(geoXml);
    // geoXml.gotoDefaultViewport(map);
  }
</script>
{% endblock %}

{% block content %}
<div id="map_div" style="width: 100%; height: 88%"></div>
{% endblock %}

